# 标准转化代码

In [1]:
import numpy as np
import pandas as pd

## 修改瞳孔数据`.dat`

In [146]:
file_pupil = pd.read_csv("./22-002-2021-11-01.csv")
file_new_pupil = pd.DataFrame(columns=["timestamp","pupil_size","pupil_x","pupil_y"])

In [2]:
# 时间转换模块，需要将时间转换为字符串
from datetime import datetime
 

def timestamp_to_utc_datetime(timestamp):
 
    """将 13 位整数的毫秒时间戳转化成 utc 时间 (datetime 格式)
    :param timestamp: 13 位整数的时间戳 (1456402864242)
    :return: 返回 datetime 格式 {datetime}2016-02-25 12:21:04.242000
    """

    utc_dt_time = datetime.utcfromtimestamp(timestamp / 1000.0)
    

    return utc_dt_time

In [148]:
import time
file_pupil = pd.read_csv("./22-002-2021-11-01.csv")
file_new_pupil["timestamp"] = file_pupil["timestamp_ms"].apply(timestamp_to_utc_datetime)
file_new_pupil["pupil_size"] = file_pupil["diameter_px"]
file_new_pupil["pupil_x"] = file_pupil["center_x"]
file_new_pupil["pupil_y"] = file_pupil["center_y"]
file_new_pupil

                     timestamp  pupil_size   pupil_x  pupil_y
0      2021-11-01 09:18:58.709          75   633.730  390.273
1      2021-11-01 09:18:58.718          71   633.647  390.231
2      2021-11-01 09:18:58.727          74   632.795  390.311
3      2021-11-01 09:18:58.736          72   633.956  389.668
4      2021-11-01 09:18:58.744          74   633.628  390.505
...                        ...         ...       ...      ...
931312 2021-11-01 11:34:37.764         107   965.178  891.191
931313 2021-11-01 11:34:37.773          94  1238.730  216.283
931314 2021-11-01 11:34:37.782         100   576.094  911.291
931315 2021-11-01 11:34:37.790         299   575.474  914.943
931316 2021-11-01 11:34:37.799          87   762.180  537.007

[931317 rows x 4 columns]

In [149]:
file_new_pupil.dtypes

timestamp     datetime64[ns]
pupil_size             int64
pupil_x              float64
pupil_y              float64
dtype: object

In [150]:
file_new_pupil.to_csv("./sub002_2.dat",index=False)

## 修改event时间`.csv`

In [26]:
file_event = pd.read_excel("22-002决策数据.xlsx")

In [27]:
file_event = file_event[['timestamp_stake', 'timestamp_stakeDisappear', 'timestamp_spaceship','timestamp_spaceshipResponse', 'timestamp_monster','timestamp_monsterResponse', 'timestamp_reward','transitions','stake']]

In [28]:
# 如果没有来的即选择飞机，那么数据直接删除
file_event = file_event.drop(file_event[file_event["timestamp_spaceshipResponse"] == 0].index)

In [29]:
# 如果选了飞机但是没有选择怪物，也直接删除
file_event = file_event.drop(file_event[file_event['timestamp_monsterResponse'] == 0].index)

In [30]:
file_event = file_event.reset_index(drop=True)

In [31]:
len(file_event)

313

In [35]:
# 时间转换模块，需要将时间转换为字符串
from datetime import datetime
 

def timestamp_to_utc_datetime(timestamp):
 
    """将 13 位整数的毫秒时间戳转化成 utc 时间 (datetime 格式)
    :param timestamp: 13 位整数的时间戳 (1456402864242)
    :return: 返回 datetime 格式 {datetime}2016-02-25 12:21:04.242000
    """

    utc_dt_time = datetime.utcfromtimestamp(timestamp / 1000.0)
    

    return utc_dt_time

In [36]:
file_event.columns

Index(['timestamp_stake', 'timestamp_stakeDisappear', 'timestamp_spaceship',
       'timestamp_spaceshipResponse', 'timestamp_monster',
       'timestamp_monsterResponse', 'timestamp_reward', 'transitions', 'stake',
       'timestamp_end_wang'],
      dtype='object')

In [37]:
file_event["timestamp_end_wang"] = file_event["timestamp_stake"]+9000

In [38]:
file_event.columns

Index(['timestamp_stake', 'timestamp_stakeDisappear', 'timestamp_spaceship',
       'timestamp_spaceshipResponse', 'timestamp_monster',
       'timestamp_monsterResponse', 'timestamp_reward', 'transitions', 'stake',
       'timestamp_end_wang'],
      dtype='object')

In [39]:
order = ['timestamp_stake', 'timestamp_stakeDisappear', 'timestamp_spaceship',
       'timestamp_spaceshipResponse', 'timestamp_monster',
       'timestamp_monsterResponse', 'timestamp_reward', 'timestamp_end_wang','transitions', 'stake']
file_event = file_event[order]

In [40]:
file_event.dtypes

timestamp_stake                 int64
timestamp_stakeDisappear        int64
timestamp_spaceship             int64
timestamp_spaceshipResponse     int64
timestamp_monster               int64
timestamp_monsterResponse       int64
timestamp_reward                int64
timestamp_end_wang              int64
transitions                    object
stake                           int64
dtype: object

In [41]:

from tqdm import tqdm
for i in tqdm(file_event.columns[:-2]):
    file_event[i] = file_event[i].apply(timestamp_to_utc_datetime)
file_event

100%|██████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 1333.64it/s]

,timestamp_stake,timestamp_stakeDisappear,timestamp_spaceship,timestamp_spaceshipResponse,timestamp_monster,timestamp_monsterResponse,timestamp_reward,timestamp_end_wang,transitions,stake
0,2021-11-01 10:16:45.810,2021-11-01 10:16:47.312,2021-11-01 10:16:47.814,2021-11-01 10:16:48.573,2021-11-01 10:16:49.820,2021-11-01 10:16:50.436,2021-11-01 10:16:51.823,2021-11-01 10:16:54.810,stable,5
1,2021-11-01 10:16:55.229,2021-11-01 10:16:56.731,2021-11-01 10:16:57.232,2021-11-01 10:16:58.564,2021-11-01 10:16:59.239,2021-11-01 10:16:59.917,2021-11-01 10:17:01.240,2021-11-01 10:17:04.229,stable,5
2,2021-11-01 10:17:04.846,2021-11-01 10:17:06.346,2021-11-01 10:17:06.847,2021-11-01 10:17:07.508,2021-11-01 10:17:08.853,2021-11-01 10:17:09.413,2021-11-01 10:17:10.855,2021-11-01 10:17:13.846,stable,5
3,2021-11-01 10:17:14.263,2021-11-01 10:17:15.764,2021-11-01 10:17:16.265,2021-11-01 10:17:17.484,2021-11-01 10:17:18.270,2021-11-01 10:17:18.948,2021-11-01 10:17:20.272,2021-11-01 10:17:23.263,stable,5
4,2021-11-01 10:17:24.081,2021-11-01 10:17:25.582,2021-11-01 10:17:26.083,2021-11-01 10:17:27.252,2021-11-01 10:17:28.091,2021-11-01 10:17:28.988,2021-11-01 10:17:30.092,2021-11-01 10:17:33.081,stable,1
...,...,...,...,...,...,...,...,...,...,...
308,2021-11-01 11:19:30.221,2021-11-01 11:19:31.723,2021-11-01 11:19:32.224,2021-11-01 11:19:33.223,2021-11-01 11:19:34.228,2021-11-01 11:19:34.678,2021-11-01 11:19:36.229,2021-11-01 11:19:39.221,variable,1
309,2021-11-01 11:19:40.643,2021-11-01 11:19:42.144,2021-11-01 11:19:42.644,2021-11-01 11:19:43.408,2021-11-01 11:19:44.651,2021-11-01 11:19:45.126,2021-11-01 11:19:46.654,2021-11-01 11:19:49.643,variable,1
310,2021-11-01 11:19:50.464,2021-11-01 11:19:51.965,2021-11-01 11:19:52.467,2021-11-01 11:19:53.302,2021-11-01 11:19:54.474,2021-11-01 11:19:54.959,2021-11-01 11:19:56.476,2021-11-01 11:19:59.464,variable,5
311,2021-11-01 11:19:59.886,2021-11-01 11:20:01.387,2021-11-01 11:20:01.888,2021-11-01 11:20:02.686,2021-11-01 11:20:03.895,2021-11-01 11:20:04.463,2021-11-01 11:20:05.895,2021-11-01 11:20:08.886,variable,1
312,2021-11-01 11:20:08.900,2021-11-01 11:20:10.401,2021-11-01 11:20:10.902,2021-11-01 11:20:11.766,2021-11-01 11:20:12.908,2021-11-01 11:20:13.398,2021-11-01 11:20:14.909,2021-11-01 11:20:17.900,variable,1

In [42]:
file_new_event = pd.DataFrame(columns=["timestamp","message"])

In [43]:
file_new_event["timestamp"] = file_event.values[:,:-2].flatten()

In [44]:
file_new_event

                   timestamp message
0    2021-11-01 10:16:45.810     NaN
1    2021-11-01 10:16:47.312     NaN
2    2021-11-01 10:16:47.814     NaN
3    2021-11-01 10:16:48.573     NaN
4    2021-11-01 10:16:49.820     NaN
...                      ...     ...
2499 2021-11-01 11:20:11.766     NaN
2500 2021-11-01 11:20:12.908     NaN
2501 2021-11-01 11:20:13.398     NaN
2502 2021-11-01 11:20:14.909     NaN
2503 2021-11-01 11:20:17.900     NaN

[2504 rows x 2 columns]

In [45]:
file_event.columns

Index(['timestamp_stake', 'timestamp_stakeDisappear', 'timestamp_spaceship',
       'timestamp_spaceshipResponse', 'timestamp_monster',
       'timestamp_monsterResponse', 'timestamp_reward', 'timestamp_end_wang',
       'transitions', 'stake'],
      dtype='object')

In [46]:
# ["TRIAL %d","!E TRIAL_EVENT_VAR stake_disappear ","!E TRIAL_EVENT_VAR spaceshipshow","!E TRIAL_EVENT_VAR response_1","!E TRIAL_EVENT_VAR monster_show","!E TRIAL_EVENT_VAR response_2","!E TRIAL_EVENT_VAR reward","TRIAL END"]
temp = []
for index in tqdm(range(len(file_new_event)//8)):
    temp.append("TRIALID %d"%(index+1))
    temp.append("!V TRIAL_VAR transitions %s"%file_event['transitions'][index])
    temp.append("!V TRIAL_VAR stake %s"%file_event['stake'][index])
    temp.extend(["!E TRIAL_EVENT_VAR response_1","!E TRIAL_EVENT_VAR monster_show","!E TRIAL_EVENT_VAR response_2","!E TRIAL_EVENT_VAR reward","TRIAL_END"])

100%|████████████████████████████████████████████████████████████████████████████| 313/313 [00:00<00:00, 103347.02it/s]

In [47]:
file_new_event

                   timestamp message
0    2021-11-01 10:16:45.810     NaN
1    2021-11-01 10:16:47.312     NaN
2    2021-11-01 10:16:47.814     NaN
3    2021-11-01 10:16:48.573     NaN
4    2021-11-01 10:16:49.820     NaN
...                      ...     ...
2499 2021-11-01 11:20:11.766     NaN
2500 2021-11-01 11:20:12.908     NaN
2501 2021-11-01 11:20:13.398     NaN
2502 2021-11-01 11:20:14.909     NaN
2503 2021-11-01 11:20:17.900     NaN

[2504 rows x 2 columns]

In [48]:
file_new_event["message"] = temp

In [49]:
file_new_event.head(19)

                 timestamp                          message
0  2021-11-01 10:16:45.810                        TRIALID 1
1  2021-11-01 10:16:47.312  !V TRIAL_VAR transitions stable
2  2021-11-01 10:16:47.814             !V TRIAL_VAR stake 5
3  2021-11-01 10:16:48.573    !E TRIAL_EVENT_VAR response_1
4  2021-11-01 10:16:49.820  !E TRIAL_EVENT_VAR monster_show
5  2021-11-01 10:16:50.436    !E TRIAL_EVENT_VAR response_2
6  2021-11-01 10:16:51.823        !E TRIAL_EVENT_VAR reward
7  2021-11-01 10:16:54.810                        TRIAL_END
8  2021-11-01 10:16:55.229                        TRIALID 2
9  2021-11-01 10:16:56.731  !V TRIAL_VAR transitions stable
10 2021-11-01 10:16:57.232             !V TRIAL_VAR stake 5
11 2021-11-01 10:16:58.564    !E TRIAL_EVENT_VAR response_1
12 2021-11-01 10:16:59.239  !E TRIAL_EVENT_VAR monster_show
13 2021-11-01 10:16:59.917    !E TRIAL_EVENT_VAR response_2
14 2021-11-01 10:17:01.240        !E TRIAL_EVENT_VAR reward
15 2021-11-01 10:17:04.229                        TRIAL_END
16 2021-11-01 10:17:04.846                        TRIALID 3
17 2021-11-01 10:17:06.346  !V TRIAL_VAR transitions stable
18 2021-11-01 10:17:06.847             !V TRIAL_VAR stake 5

In [50]:
file_new_event.to_csv("./sub002_events.csv",index=False)

## 删除实验开始前的瞳孔数据

In [125]:
file_new_event = pd.read_csv("./sub002_events.csv")
file_new_pupil = pd.read_csv("./sub002_2.dat")

In [126]:
file_new_event.tail(10)

                    timestamp                            message
2494  2021-11-01 11:20:05.895          !E TRIAL_EVENT_VAR reward
2495  2021-11-01 11:20:01.386                          TRIAL_END
2496  2021-11-01 11:20:08.900                        TRIALID 313
2497  2021-11-01 11:20:10.401  !V TRIAL_VAR transitions variable
2498  2021-11-01 11:20:10.902   !E TRIAL_EVENT_VAR spaceshipshow
2499  2021-11-01 11:20:11.766      !E TRIAL_EVENT_VAR response_1
2500  2021-11-01 11:20:12.908    !E TRIAL_EVENT_VAR monster_show
2501  2021-11-01 11:20:13.398      !E TRIAL_EVENT_VAR response_2
2502  2021-11-01 11:20:14.909          !E TRIAL_EVENT_VAR reward
2503  2021-11-01 11:20:10.400                          TRIAL_END

In [127]:
file_new_event['timestamp'] = pd.to_datetime(file_new_event['timestamp'])
file_new_pupil['timestamp'] = pd.to_datetime(file_new_pupil['timestamp'])

In [128]:
# 删除实验开始前的数据
file_new_pupil = file_new_pupil.drop(file_new_pupil[file_new_pupil['timestamp']<file_new_event['timestamp'][0]].index[:-1])

In [129]:
# 删除实验后的数据
file_new_pupil = file_new_pupil.drop(file_new_pupil[file_new_pupil['timestamp']>file_new_event['timestamp'][len(file_new_event['timestamp'])-1]].index)

In [130]:
file_new_event

                   timestamp                           message
0    2021-11-01 10:16:45.810                         TRIALID 1
1    2021-11-01 10:16:47.312   !V TRIAL_VAR transitions stable
2    2021-11-01 10:16:47.814  !E TRIAL_EVENT_VAR spaceshipshow
3    2021-11-01 10:16:48.573     !E TRIAL_EVENT_VAR response_1
4    2021-11-01 10:16:49.820   !E TRIAL_EVENT_VAR monster_show
...                      ...                               ...
2499 2021-11-01 11:20:11.766     !E TRIAL_EVENT_VAR response_1
2500 2021-11-01 11:20:12.908   !E TRIAL_EVENT_VAR monster_show
2501 2021-11-01 11:20:13.398     !E TRIAL_EVENT_VAR response_2
2502 2021-11-01 11:20:14.909         !E TRIAL_EVENT_VAR reward
2503 2021-11-01 11:20:10.400                         TRIAL_END

[2504 rows x 2 columns]

In [131]:
file_new_pupil.to_csv("../test/sub002.dat",index=False)

In [88]:
file_new_event.dtypes

timestamp    datetime64[ns]
message              object
dtype: object