## 所有导入模块

In [1]:
import pandas as pd
import numpy as np
import pickle

## 读取数据文件

In [2]:
# 这里的.dat后缀是随便取的，保存的格式还是csv格式，所以调用read_csv就能继续用
Data_event = "sub22-005_events.csv"
Date_pupil = "sub22-005.dat"

In [3]:
pupil_event = pd.read_csv("../Data/"+Data_event)

In [4]:
# 读取两个文件
pupil_data = pd.read_csv("../Data/"+Date_pupil)
pupil_event = pd.read_csv("../Data/"+Data_event)
# 将两个字符串转变为时间序列格式，方便处理
pupil_event["timestamp"] = pd.to_datetime(pupil_event["timestamp"])
pupil_data["timestamp"] = pd.to_datetime(pupil_data["timestamp"])

In [5]:
max_time = max(pupil_event[pupil_event.columns[0]])
min_time = min(pupil_event[pupil_event.columns[0]])

## 为pupil_data设置单层索引

In [6]:
pupil_data = pupil_data.set_index([pupil_data.columns[0]])

In [8]:
pupil_data

                         pupil_size  pupil_x  pupil_y
timestamp
2021-11-04 08:07:50.855          96  1387.22  391.002
2021-11-04 08:07:50.865          95  1386.48  391.712
2021-11-04 08:07:50.875          96  1385.55  392.301
2021-11-04 08:07:50.885          97  1385.65  394.228
2021-11-04 08:07:50.895          97  1384.57  394.236
...                             ...      ...      ...
2021-11-04 09:01:45.984          99  1353.21  442.819
2021-11-04 09:01:45.994         100  1352.92  442.970
2021-11-04 09:01:46.004          99  1352.76  442.369
2021-11-04 09:01:46.014          99  1353.20  442.205
2021-11-04 09:01:46.024          98  1353.31  442.326

[323508 rows x 3 columns]

## 检查事件长度是否相同

In [9]:
def is_same_event_step(df):
    a = df[df[df.columns[1]].str.contains("TRIALID")].index
    event_step = a[1]-a[0]
    assert(np.diff(a) == (event_step)).all(),"The OneShot event Data have different step"
    print("Pass event step test")
    
    return event_step

In [10]:
event_step = is_same_event_step(pupil_event)

Pass event step test

## 为pupil_event设置多层索引???感觉不需要

通过了事件步长检查后才能进行多层索引设置

In [14]:
def set_event_id(df):
    trail_num = len(df[df[df.columns[1]].str.contains("TRIALID")].index)
    temp = np.ones(shape = (trail_num*event_step),dtype = int)
    for i in range(trail_num):
        temp[i*event_step:i*event_step+event_step] = temp[i*event_step:i*event_step+event_step] * (i+1)
    df["trail_id"] = temp
set_event_id(pupil_event)    
pupil_event

                   timestamp                            message  trail_id
0    2021-11-04 08:07:50.862                          TRIALID 1         1
1    2021-11-04 08:07:52.364  !V TRIAL_VAR transitions variable         1
2    2021-11-04 08:07:52.865               !V TRIAL_VAR stake 5         1
3    2021-11-04 08:07:54.011      !E TRIAL_EVENT_VAR response_1         1
4    2021-11-04 08:07:54.872    !E TRIAL_EVENT_VAR monster_show         1
...                      ...                                ...       ...
2347 2021-11-04 09:01:39.890      !E TRIAL_EVENT_VAR response_1       294
2348 2021-11-04 09:01:41.034    !E TRIAL_EVENT_VAR monster_show       294
2349 2021-11-04 09:01:41.850      !E TRIAL_EVENT_VAR response_2       294
2350 2021-11-04 09:01:43.035          !E TRIAL_EVENT_VAR reward       294
2351 2021-11-04 09:01:46.027                          TRIAL_END       294

[2352 rows x 3 columns]

## pupilevent设置双索引

In [15]:
pupil_event

                   timestamp                            message  trail_id
0    2021-11-04 08:07:50.862                          TRIALID 1         1
1    2021-11-04 08:07:52.364  !V TRIAL_VAR transitions variable         1
2    2021-11-04 08:07:52.865               !V TRIAL_VAR stake 5         1
3    2021-11-04 08:07:54.011      !E TRIAL_EVENT_VAR response_1         1
4    2021-11-04 08:07:54.872    !E TRIAL_EVENT_VAR monster_show         1
...                      ...                                ...       ...
2347 2021-11-04 09:01:39.890      !E TRIAL_EVENT_VAR response_1       294
2348 2021-11-04 09:01:41.034    !E TRIAL_EVENT_VAR monster_show       294
2349 2021-11-04 09:01:41.850      !E TRIAL_EVENT_VAR response_2       294
2350 2021-11-04 09:01:43.035          !E TRIAL_EVENT_VAR reward       294
2351 2021-11-04 09:01:46.027                          TRIAL_END       294

[2352 rows x 3 columns]

In [16]:
pupil_event = pupil_event.set_index(["trail_id","timestamp"]).head(20)

In [17]:
pupil_event

                                                            message
trail_id timestamp
1        2021-11-04 08:07:50.862                          TRIALID 1
         2021-11-04 08:07:52.364  !V TRIAL_VAR transitions variable
         2021-11-04 08:07:52.865               !V TRIAL_VAR stake 5
         2021-11-04 08:07:54.011      !E TRIAL_EVENT_VAR response_1
         2021-11-04 08:07:54.872    !E TRIAL_EVENT_VAR monster_show
         2021-11-04 08:07:55.396      !E TRIAL_EVENT_VAR response_2
         2021-11-04 08:07:56.875          !E TRIAL_EVENT_VAR reward
         2021-11-04 08:07:59.862                          TRIAL_END
2        2021-11-04 08:08:00.482                          TRIALID 2
         2021-11-04 08:08:01.983  !V TRIAL_VAR transitions variable
         2021-11-04 08:08:02.484               !V TRIAL_VAR stake 5
         2021-11-04 08:08:03.867      !E TRIAL_EVENT_VAR response_1
         2021-11-04 08:08:04.491    !E TRIAL_EVENT_VAR monster_show
         2021-11-04 08:08:05.035      !E TRIAL_EVENT_VAR response_2
         2021-11-04 08:08:06.495          !E TRIAL_EVENT_VAR reward
         2021-11-04 08:08:09.482                          TRIAL_END
3        2021-11-04 08:08:10.306                          TRIALID 3
         2021-11-04 08:08:11.808  !V TRIAL_VAR transitions variable
         2021-11-04 08:08:12.310               !V TRIAL_VAR stake 5
         2021-11-04 08:08:13.123      !E TRIAL_EVENT_VAR response_1

In [18]:
# 提取index的所有值
pupil_event.index.levels[1]

DatetimeIndex(['2021-11-04 08:07:50.862000', '2021-11-04 08:07:52.364000',
               '2021-11-04 08:07:52.865000', '2021-11-04 08:07:54.011000',
               '2021-11-04 08:07:54.872000', '2021-11-04 08:07:55.396000',
               '2021-11-04 08:07:56.875000', '2021-11-04 08:07:59.862000',
               '2021-11-04 08:08:00.482000', '2021-11-04 08:08:01.983000',
               ...
               '2021-11-04 09:01:33.415000', '2021-11-04 09:01:36.408000',
               '2021-11-04 09:01:37.027000', '2021-11-04 09:01:38.528000',
               '2021-11-04 09:01:39.028000', '2021-11-04 09:01:39.890000',
               '2021-11-04 09:01:41.034000', '2021-11-04 09:01:41.850000',
               '2021-11-04 09:01:43.035000', '2021-11-04 09:01:46.027000'],
              dtype='datetime64[ns]', name='timestamp', length=2352, freq=None)

In [19]:
type(pupil_event.index.levels[1])

pandas.core.indexes.datetimes.DatetimeIndex

## 创建最终的数据格式

In [20]:
pupil_data

                         pupil_size  pupil_x  pupil_y
timestamp
2021-11-04 08:07:50.855          96  1387.22  391.002
2021-11-04 08:07:50.865          95  1386.48  391.712
2021-11-04 08:07:50.875          96  1385.55  392.301
2021-11-04 08:07:50.885          97  1385.65  394.228
2021-11-04 08:07:50.895          97  1384.57  394.236
...                             ...      ...      ...
2021-11-04 09:01:45.984          99  1353.21  442.819
2021-11-04 09:01:45.994         100  1352.92  442.970
2021-11-04 09:01:46.004          99  1352.76  442.369
2021-11-04 09:01:46.014          99  1353.20  442.205
2021-11-04 09:01:46.024          98  1353.31  442.326

[323508 rows x 3 columns]

In [21]:
pupil_event

                                                            message
trail_id timestamp
1        2021-11-04 08:07:50.862                          TRIALID 1
         2021-11-04 08:07:52.364  !V TRIAL_VAR transitions variable
         2021-11-04 08:07:52.865               !V TRIAL_VAR stake 5
         2021-11-04 08:07:54.011      !E TRIAL_EVENT_VAR response_1
         2021-11-04 08:07:54.872    !E TRIAL_EVENT_VAR monster_show
         2021-11-04 08:07:55.396      !E TRIAL_EVENT_VAR response_2
         2021-11-04 08:07:56.875          !E TRIAL_EVENT_VAR reward
         2021-11-04 08:07:59.862                          TRIAL_END
2        2021-11-04 08:08:00.482                          TRIALID 2
         2021-11-04 08:08:01.983  !V TRIAL_VAR transitions variable
         2021-11-04 08:08:02.484               !V TRIAL_VAR stake 5
         2021-11-04 08:08:03.867      !E TRIAL_EVENT_VAR response_1
         2021-11-04 08:08:04.491    !E TRIAL_EVENT_VAR monster_show
         2021-11-04 08:08:05.035      !E TRIAL_EVENT_VAR response_2
         2021-11-04 08:08:06.495          !E TRIAL_EVENT_VAR reward
         2021-11-04 08:08:09.482                          TRIAL_END
3        2021-11-04 08:08:10.306                          TRIALID 3
         2021-11-04 08:08:11.808  !V TRIAL_VAR transitions variable
         2021-11-04 08:08:12.310               !V TRIAL_VAR stake 5
         2021-11-04 08:08:13.123      !E TRIAL_EVENT_VAR response_1

In [23]:
pupil_data

                         pupil_size  pupil_x  pupil_y
timestamp
2021-11-04 08:07:50.855          96  1387.22  391.002
2021-11-04 08:07:50.865          95  1386.48  391.712
2021-11-04 08:07:50.875          96  1385.55  392.301
2021-11-04 08:07:50.885          97  1385.65  394.228
2021-11-04 08:07:50.895          97  1384.57  394.236
...                             ...      ...      ...
2021-11-04 09:01:45.984          99  1353.21  442.819
2021-11-04 09:01:45.994         100  1352.92  442.970
2021-11-04 09:01:46.004          99  1352.76  442.369
2021-11-04 09:01:46.014          99  1353.20  442.205
2021-11-04 09:01:46.024          98  1353.31  442.326

[323508 rows x 3 columns]

In [26]:
# 不能使用pickle.dump(pupil_data,"./pupil_data.pd")
# 需要直接调用pd自带的to_pickle
# 保存pupil_data
pupil_data.to_pickle("./pupil_data.pd")
# 保存pupil_event
pupil_event.to_pickle("./pupil_event.pd")